@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Righteous&family=Sarala&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0ce94d;
}

h1{
    margin:30px;
    
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
    height: auto;
}

.imagem-header{
    width: 100%;

}

.form{
    width: 50%;
    
}

.form-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    height: 100%;
}



.form-header{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}



.input-box{
 padding: 5px;
}

.continue-button{
    border: none;
    background-color: #6c63ff;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}


.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #6c63ff;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.login-button button :hover{
    background-color: #a8a4f3;
    border-radius: 5px;
    

}

.login-button button a{
    text-decoration: none;
    font-size: 500;
    color: #fff;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
}


